@import "tailwindcss";

@property --header-height {
  syntax: '<length>';
  initial-value: 64px;
  inherits: false;
}

#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.card {
  padding: 2em;
}

.video-js {
  height: 100% !important;
  width: calc(100vw - 4rem) !important;
  max-width: calc((100vh - 91px - 146px - 1rem) * 16 / 9) !important;
}

.video-js .vjs-big-play-button {
  top: 50% !important;
  left: 50% !important;
  transform: translate(-50%, -50%);
}